<!DOCTYPE html>
{% include topcomment.html %}
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body class="landing">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

      {% include header.html %}

      <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <h1>{{ page.title }}</h1>
          <p>{{ page.description }}</p>

          {% if page.button %}
          <ul class="actions">
            <li><a href="{{page.button.link}}" class="button special">{{page.button.name}}</a></li>
          </ul>
          {% endif %}
        </div>
        <a href="#" class="more scrolly">Scroll</a>
      </section>


      <section class="wrapper{% if page.options contains 'minihead' %} minihead{% endif %} style5">
        <div class="inner{% if page.options contains 'fullwidth' %} fullwidth{% endif %}">
          {{ content }}
        </div>
      </section>

      {% include footer.html %}

      {% include scripts.html %}

    </div>

  </body>

</html>